@import url(common.css);

:root {
  --ratio: calc(1900 / 1080);
  --dash-height: calc(99vh);
}
body {
  background-color: hsl(0, 50%, 5%);
  overflow: hidden;
}
#container {
  display: flex;
  justify-content: center;
  height: 100vh;
}
#dashboard {
  margin: 0.5vh;
  display: grid;
  gap: 8px 10px;
  height: var(--dash-height);
  width: calc(var(--dash-height) * var(--ratio));
  grid-template-columns:
    calc(var(--dash-height) / 4)
    1fr
    calc((var(--dash-height) / 4) * 3)
    calc(var(--dash-height) / 4);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'clock       suntimes         anemometer windsAloft12k'
    'temperature temperaturegraph anemometer windsAloft9k'
    'solar       solargraph       anemometer windsAloft6k'
    'extra       extra2           windgraph  windsAloft3k';
}

#dashboard div {
  background-color: #141619;
  border: 1px solid hsl(240, 50%, 30%);
  box-shadow: 0px 0px 5px hsl(240, 50%, 50%);
}
.winds-aloft {
  position: relative;
  display: flex;
  flex-direction: column;
}
#dashboard .winds-aloft div {
  width: 100%;
  text-align: center;
  justify-content: center;
  border: none;
  box-shadow: none;
}
.winds-aloft div.arrow {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.winds-aloft div.arrow > img {
  width: calc(100vh / 8);
  height: calc(100vh / 8);
}
#winds-12000 {
  grid-area: windsAloft12k;
}
#winds-9000 {
  grid-area: windsAloft9k;
}
#winds-6000 {
  grid-area: windsAloft6k;
}
#winds-3000 {
  grid-area: windsAloft3k;
}
#anemometer {
  grid-area: anemometer;
}
#windgraph {
  grid-area: windgraph;
}
#clock {
  grid-area: clock;
}
#suntimes {
  grid-area: suntimes;
}
#temperature {
  grid-area: temperature;
}
#temperaturegraph {
  grid-area: temperaturegraph;
}
#solar {
  grid-area: solar;
}
#solargraph {
  grid-area: solargraph;
}
#extra {
  grid-area: extra;
  grid-column-end: 3;
}
